@tailwind base;
@tailwind components;
@tailwind utilities;

/* herosection css */
/* Body Styles */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #08090a;
}

/* Outer Border */
.borderr {
      position: relative;
    inset: 0;
    border-radius: 10px;
    border: 1px solid #1e1e1e;
    background: var(--color-bg-primary);
    width: 1600px;
    height: 900px;
    margin: 280px auto auto;
    transform: translateX(0%) scale(1.2) rotateX(47deg) rotateY(31deg) rotate(324deg);
    transform-origin: top left;
    backface-visibility: hidden;
}



/* carousel css */

@keyframes infiniteLoop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(-200px * 10), 0, 0);
  }
}

.brandsCarousel {
  position: relative;
  overflow: hidden;
}

.brandsCarousel-overlay {
  content: '';
  width: 200px;
  height: 200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 50) 10%, rgba(250, 250, 240, 0) 90%);
  position: absolute;
  top: 0;
  z-index: 2;
}

.carouselTrack {
  width: calc(200px * 20);
  animation: infiniteLoop 10s linear infinite;
  animation-fill-mode: forwards;
  will-change: transform;
}

/* testimonial csss */

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-left {
  display: flex;
  animation: marquee-left 20s linear infinite;
  will-change: transform;
}

.animate-marquee-right {
  display: flex;
  animation: marquee-right 20s linear infinite;
  will-change: transform;
}

.hero {
  transform: skew(120);
}
